#headerwrap {
    width: 100%;
    text-align: center;
    justify-content: center;
}

#forumoverskrift {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

#mainwrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

#background {
    width: 75%;
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.style {
    width: 40%;
    background-color: #fff;
    height: 150px;
    border-radius: 10px;
}

#left {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 16%);
}

#dininfo {
    font-family: sans-serif;
    font-size: 14px;
    grid-area: 1/1/2/2;
    margin-top: 6%;
    margin-left: 10%;
}

#profilbillede {
    border-radius: 50px;
    grid-area: 2/1/7/2;
    width: 50%;
    margin-left: 12%;
    margin-top: 7%;
}

#nametag {
    grid-area: 2/2/3/3;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

#changes {
    grid-area: 4/2/5/3;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
    color: #B94B85;
}

#bgc {
    grid-area: 6/2/7/3;
    width: 50%;
    background-color: #B94B85;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

#new {
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

#right {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}


#sogiforum {
    font-family: sans-serif;
    font-size: 14px;
    grid-area: 1/2/2/3;
    margin-top: 9%;
}

#sogeord {
    grid-area: 2/2/3/3;
}

#soge {
    font-family: sans-serif;
    font-size: 12px;
}

#sog {
    width: 195%;
    border-radius: 5px;
    background-color: #F3F3F3;
}

.formfilter {
    grid-area: 3/2/5/3;
}




#Kategori {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 9%;
}

#Periode {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 9%;
}

#bgc2 {
    grid-area: 4/3/5/5;
    width: 40%;
    height: 55%;
    background-color: #B94B85;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: 40%;

}

#search {
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
