:root {
    --gray: #F3F3F3;
    --white: white;
    --pink: #F1ABCA;
    --light-purple: #C46C9A;
    --dark-purple: #6D1770;
    --border-color: #707070;
}

html {
    font-size: 0.825rem;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* font-size: 0.825rem; */
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

/* ---------------------------
------ Mobil Navigation ------
------------------------------
*/ 

.fas {
    font-size: 1.5rem;
    position: relative;
    z-index: 10;
}

.fas:hover {
    color: var(--light-purple);
}

#mobil-nav {
    display: none;
    flex-flow: row wrap;
    z-index: 9;
    background-color: var(--pink);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* transition: transform  */
}

#mobil-nav ul {
    display: inline-flex;
    flex-flow: column wrap;
}

#mobil-nav li {
    margin: .5em 0;
    font-size: 4rem;
    color: white;
}

#mobil-header {
    display: none;
    padding: 0 2em;
    flex-flow: col wrap;
}

/*
------------------------------
-------- HEADER STYLE --------  
------------------------------
*/

header {
    width: 100%;
    max-width: 1920px;
    background-color: var(--gray);
    height: calc(5vw + 30px);
    font-size: 1rem;
    /* padding: 0px 5em; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    /* reset Anger Tags (Links) */
    text-decoration: none;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

header li {
    margin: 0 calc(1rem + 10px);
    font-size: 1.2rem;
    position: relative;
}

.logo {
    height: 90%;
    min-height: 50px;
    /* margin-left: 8%; */
}

.menu-active::after {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 4px var(--light-purple) solid;
    left: 0;
    bottom: -10px;
}

.menu-dropdown {
    position: absolute;
    top: .5em;
    right: -1.5rem;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-radius: 5px;
    border-top: 9px solid var(--dark-purple);
}

.connect-dropdown::before {
    content: '';
    z-index: -1;
    width: 100%;
    position: absolute;
    border: 30px var(--gray) solid;
    left: 0em;
    top: 60px;
    display: none;
}

#loginbtn {
    border: none;
    /* font-size: 1.2em; */
    display: block;
    padding: .6em;
}

.profilstatus {
    /* Default: Display flex */
    display: none; 
    align-items: center;
}

.profilstatus img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    object-position: top center;
}

.btn {
    color: var(--white);
    background-color: var(--light-purple) !important;
    border: none;
    font-size: 1rem;
    padding: .4rem;
    border-radius: 5px;
    font-weight: bold;
    /* margin-left: 1em; */
    position: relative;
    z-index: 2;
}

/* Hover states */
header a:hover,
.menu-grid li a:hover {
    color: var(--light-purple);
}

#login:active,
#login:focus,
#login:hover,
header a:active,
header a:focus {
    color: var(--dark-purple);
}

header a:visited {
    color: initial;
}


/* 
---------------------------
------ Dropdown Menu ------
--------------------------- 
*/
.dropdown-menu {
    display: none;
    position: absolute;
    grid-template-columns: repeat(auto-fit, minmax(150px, 170px));
    grid-template-rows: auto;
    grid-column-gap: 2em;
    padding: 2em 3em;
    max-width: 1050px;
    width: 80%;
    height: auto;
    background-color: var(--gray);
    top: 125px;
    margin: 0 50%;
    transform: translate(-50%, 0);
}

.dropdown-menu h2 {
    margin-bottom: 1em;
    font-size: 1.3rem;
    color: var(--light-purple)
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu li {
    margin: 0;
    font-size: 1.1rem;
    padding: .2em;
}

/* 
-------------------------
------ LOGIN MODAL ------ 
-------------------------
*/
.modal {
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    position: absolute;
    background: var(--white);
    border: 2px solid var(--border-color);
    padding: 5em;
    top: 150px;
    margin: 0 50%;
    transform: translate(-50%, 0);
    z-index: 6;
    display: none;
}

.blur {
    position: absolute;
    background-color: rgb(187, 187, 187);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5;
    display: none;
}

.modal .logo {
    min-width: 100px;
    max-width: 200px;
    width: 50%;
    margin: -3em 50% 2em 50%;
    transform: translate(-50%, 0);
}

.modal form input,
.modal form label {
    width: 100%;
    padding: .6em;
    font-size: 1.2rem;
    border: none;
    /* margin: .4em 0; */
}

#loginerror, #registreerror{
    padding: .6em;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: -1em auto .5em auto;
}

.modal form input {
    background-color: var(--gray);
    margin-bottom: 1.5em;
    margin-top: .4em;
}

.modal input[type="submit"] {
    font-size: 1.4rem;
  
}

.eller {
    background-color: white;
    display: inline;
    margin: 0 40%;
    transform: translate(-50%, 0);
    padding: 2em;
    position: relative;
    z-index: 1;
    font-size: 1.2em;
}

hr {
    height: 2px;
    background-color: gray;
    /* margin: 2em 0;   */
}

.registre label {
    text-align: left;
}

#facebook-btn {
    background-color: rgb(24, 119, 242);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
    width: 100%;
    margin: 2em 0;
    padding: .6em;
    border: none;
}

.registrep {
    font-size: 1.2rem;
    text-align: center;
}
#opret {
    color: var(--light-purple);
    font-weight: bold;
    border: none;
    /* font-size: 1em; */
    background-color: transparent;   
}


.changetologin {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.6em;
    background-color: var(--dark-purple) !important;
    margin: 1em 0;
}


@media screen and (max-width: 1000px) {
    :root {
        /* font-size: .8rem; */
    }

    /* Header navigation */
    /* .logo {
        margin-left: 6%;
    }

    .profil {
        margin-right: 6%;
    } */

    /* header {
        height: 70px;
        padding: 1em 0;
    } */

    .dropdown-menu {
        padding: 2em 3em;
        max-width: 1050px;
        width: 90%;
        top: 125px;

    }

    

}

@media screen and (max-width: 820px) {
    /*:root {
         font-size: .7rem; 
    }

    /* header li {
        margin: 0 1.5em;
     font-size: 1.2em; 
    } 

   header {
        height: 50px;
    } 
    .btn {
        /* font-size: 1.2em; 
    }*/

    /* .menu-dropdown {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid var(--dark-purple);
    } */
    .dropdown-menu {
        padding: 2em 3em;
        max-width: 1050px;
        width: 100%;
        top: 125px;

    }
    

}

/* Tablet version */
@media screen and (max-width: 650px) {


    #mobil-header {
        display: flex;
        justify-content: space-between;
    }
    .modal {
        width: 100%;
        min-width: auto;
        max-width: auto;
        border: 2px solid var(--border-color);
        padding: 1em;
        top: 60px;

    }

    #desktop-header {
        display: none;
    }

    .dropdown-menu {
        padding: 1em 3em;
        max-width: 1050px;
        width: 100%;
        top: 125px;
        grid-column-gap: 1em;
    }
    

}

@media screen and (max-width: 420px) { 
    .dropdown-menu {
        padding: 1em 1em;
        max-width: 1050px;
        width: 100%;
        top: 125px;
        grid-column-gap: .1em;
    }

}

@media screen and (max-width: 350px) { 
    .dropdown-menu {
        padding: 1em 3em;
        max-width: 1050px;
        width: 100%;
        top: 125px;
        grid-column-gap: .1em;
    }

}

