/*---------- GENERELT -----------*/

p {
    margin: 0;
}

:root {
    --light-gray: #F3F3F3;
    --pink: #F1ABCA;
    --gray: #F3F3F3;
    --white: white;
    --pink: #F1ABCA;
    --light-purple: #C46C9A;
    --dark-purple: #6D1770;
    --border-color: #707070;
    --edge: gray;
    --footer: #9EABB4;
}



#wrapper-mysite {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#profilinfo {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 12.5% 12.5%;
    grid-template-rows: repeat(5, auto);
}

#profilbillede-mysite {
    width: 100%;
    grid-area: 1/1/5/2;
    border-radius: 500px;

}

#nametag {
    grid-area: 1/2/2/5;
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 0;
}

#changing {
    width: 100%;
    height: 100%;
    grid-area: 1/5/2/7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profilebts {
    background-color: #F1ABCA;
    border: none;
    color: white;
    padding: 9px 15px 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    max-height: 80%;

}

#brugerinfocontainer {
    grid-area: 2/2/3/7;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.brugerinfo {
    margin-top: 2%;
    background-color: #F3F3F3;
    border: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    max-height: 20%;
}


.hvilkendata {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.hvormangedata {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 5%;
}

#ommigsektion {
    grid-area: 3/2/6/7;
    margin-left: 8%;
}

#ommigsektion h3 {
    margin-bottom: 0;
    font-size: 16px;
}


#tekstommig {
    margin-top: 1%;
    font-size: 14px;
    overflow: auto;
    max-height: 75px;
}

#barwrap {
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#baroverhead {
    width: 60%;
    height: 5px;
    background-color: #8B8B8B;
    border-radius: 10px;
    position: relative;
}

#barparts1 {
    width: 30%;
    height: 5px;
    background-color: #B94B85;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 2%;
}

#barparts2 {
    width: 30%;
    height: 5px;
    background-color: #B94B85;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 35%;
    display: none;
}

#barparts3 {
    width: 30%;
    height: 5px;
    background-color: #B94B85;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 68%;
    display: none;
}


#textwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

#textoverhead {
    width: 60%;
    position: relative;
}

#text1 {
    font-family: sans-serif;
    color: #B94B85;
    font-size: 14px;
    position: absolute;
    top: -5px;
    left: 10%;
}

#text2 {
    font-family: sans-serif;
    color: #8B8B8B;
    font-size: 14px;
    position: absolute;
    top: -5px;
    left: 44%;


}

#text3 {
    font-family: sans-serif;
    color: #8B8B8B;
    font-size: 14px;
    position: absolute;
    top: -5px;
    left: 76%;
}


#picwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#picoverhead {
    width: 60%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, auto);
}

.billeder {
    width: 100%;
    height: 100%;
}

.tekst {
    position: absolute;
    display: inherit;
    margin-top: 5px;
    top: 0;
    right: 5px;
    background-color: white;
    color: #F1ABCA;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    font-family: sans-serif;
    font-size: 12px
}


#billede1 {
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

#billede2 {
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
}

#billede3 {
    width: 100%;
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
}

#billede3 {
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

#billede4 {
    width: 100%;
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}

#billede5 {
    width: 100%;
    grid-area: 3 / 2 / 4 / 3;
    position: relative;
}

#billede6 {
    width: 100%;
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}

#billede7 {
    width: 100%;
    grid-area: 2 / 3 / 3 / 4;
    position: relative;
}

#billede8 {
    width: 100%;
    grid-area: 3 / 3 / 4 / 4;
    position: relative;
}


#billede9 {
    width: 100%;
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
}






/*--------------- FOOTER ----------------*/

footer {
    background-color: var(--footer);
    margin-top: 7rem;
    padding: 3em 5em 5em 5em;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.om-os,
.information,
.konto {
    display: flex;
    flex-flow: column nowrap;
}

.om-os a,
.information a,
.konto a {
    margin: 2px 0;
}
