:root {
    --light-gray: #F3F3F3;
    --pink: #F1ABCA;
    --gray: #F3F3F3;
    --white: white;
    --pink: #F1ABCA;
    --light-purple: #C46C9A;
    --dark-purple: #6D1770;
    --border-color: #707070;
    --edge: gray;
}

html {
    font-size: 0.825rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.opskrift  {
    background-color: var(--light-gray);
    width: auto;
    height: auto;
    margin: 3em 5em 2em 5em;
    padding: 5em;
    display: flex;
}

.showcase {
    max-width: 400px;
    margin-right: 3em;
}


.billede img {
    width: 400px;
    height: 400px;
}

.billede p {
    font-size: 1.2rem;
    display: inline-block;
}

.billede p:first-of-type {
    margin-right: 237px;
}

.socail-buttons button {
    display: block;
    width: 100%;
    margin: .5em 0;
    color: var(--white);
    background-color: var(--light-purple) !important;
    border: none;
    font-size: 1.1rem;
    padding: .4rem;
    border-radius: 20px;
    font-weight: bold;
}

.pris  {
    font-size: 1.2rem;
}

.produkt-beskrivelse {
    font-size: 1.2rem;
    max-width: 600px;
}

.tekst {
    margin: 2rem 0;
}

.tekst p {
    margin: 1rem 0;
}

.comments {
    width: 60%;
}
