* {
    margin: 0;
    padding: 0;
}

.registre, .login {
    width: 400px;
    background: #fefefe;
    padding: 2em;
    margin: 2em auto;
    border: 2px solid #eeeeee;
}

.forms {
    display: flex;
    flex-flow: column wrap;

}

.forms div {
    margin: .4em 0;
}

#error {
    color: red;
}

.fa-search {
    font-size: 1.4em;
    padding: .5em;
    transition: clip-path 1s;
    clip-path: circle(50.0% at 50% 50%);
    background-color: #C46C9A;
}

.fa-search:hover {
    color: #6D1770;
    background-color: #C46C9A;
}

.filter {
    background: #C46C9A;
    padding: 1em;
    display: inline-block;
    clip-path: circle(0.0% at 60% 0%) ;
    transition: clip-path 1.2s ease-in-out;
    /* height: 19px; */
    /* transition: transform 2s; */
    
}

